<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <h2>Add a Client</h2>
    <%= form_for @client, builder: BasicFormBuilder do |f| %>
      <%= f.text_field :name, label: "Client Name", autofocus: true %>
      <%= f.text_area :address %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>